@model Services.ViewModels.SetNewPassword

@{
    Layout = "_PatientLayout";
    ViewData["Title"] = "Reset Password";
    ViewBag.JsFile = "/js/LoginPage.js";
    ViewBag.CssFile = "/css/patient/loginPage.css";
}

<div id="them-icon" class="z-2">
    <i class="bi-moon"> </i>
</div>
<div class="d-flex flex-column justify-content-between align-items-center vh-100">
    <img id="bg-image" src="~/images/LoginImage-removeBG.png" />
    <div class="d-flex flex-column align-items-center" id="form-box">
        <img id="logo-image" class="mb-5" src="~/images/helloDocLogo.png" />
        <p class="mt-5 mb-3" id="heading-text">Reset Password</p>
        <fieldset disabled=@(!Model.IsValidLink) class="w-100">
            <form class="w-100" asp-controller="Patient" asp-action="NewPassword">
                <div class="input-group w-100 mt-3">
                    <div class="form-floating flex-grow-1">
                        <input asp-for="Password" class="form-control" id="password" type="password" placeholder="Password" />
                        <label for="password">Password</label>
                    </div>
                    <i class="bi bi-eye input-group-text bg-transparent" id="passwordIcon"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger w-100"></span>
                <input readonly asp-for="AspNetUserId" class="form-control d-none" />
                <div class="input-group w-100 mt-3">
                    <div class="form-floating flex-grow-1">
                        <input asp-for="ConformPassword" class="form-control" id="conformpassword" type="password" placeholder="ConformPassword" />
                        <label for="password">Conform Password</label>
                    </div>
                    <i class="bi bi-eye input-group-text bg-transparent" id="passwordIcon2"></i>
                </div>
                <span asp-validation-for="ConformPassword" class="text-danger w-100"></span>
                <a class="w-100" asp-controller="Patient" asp-action="Dashboard">
                    <button type="submit" class="button mt-4">Chnage Password</button>
                </a>
            </form>
        </fieldset>
    </div>
    <div class="mb-4">
        <a class="mx-2 conditions-text"> Terms of Conditions </a>
        |
        <a class="mx-2 conditions-text"> Privacy Policy </a>
    </div>
</div>
