@model Services.ViewModels.ResetPassword

@{
    Layout = "_PatientLayout";
    ViewData["Title"] = "Reset Password";
    ViewBag.CssFile = "/css/patient/resetPassword.css";
}

<div id="them-icon" class="z-2">
    <i class="bi-moon"> </i>
</div>
<div class="d-flex flex-column justify-content-between align-items-center vh-100">
    <img id="bg-image" src="~/images/LoginImage-removeBG.png" />
    <img id="logo-image" class="mb-5" src="~/images/helloDocLogo.png" />
    <div class="d-flex flex-column align-items-center" id="form-box">
        <span class="d-flex" id="back-button">
            <a class="mt-4 backto-login" asp-controller="Patient" asp-action="PatientSite">
                <i class="bi bi-chevron-left bi-xl"></i>
                Back
            </a>
        </span>
        <form asp-controller="Patient" asp-action="ResetPassword" class="w-100">
            <p class="mt-2 mb-3 w-100" id="heading-text">Reset Your Password</p>
            <div class="input-group w-100 mt-2">
                <div class="form-floating flex-grow-1">
                    <input asp-for="Email" class="form-control" id="email" type="email" placeholder="Email" />
                    <label for="email">Email</label>
                </div>
                <i class="bi bi-envelope input-group-text bg-transparent"></i>
            </div>
            <span asp-validation-for="Email" class="text-danger w-100"></span>
            <button class="button mt-4" type="submit">Send Mail</button>
        </form>
        <a class="mt-4 mb-5 backto-login" asp-controller="Patient" asp-action="PatientSite">
            <i class="bi bi-chevron-left bi-xl"></i>
            Back To Login
        </a>
    </div>
    <div class="mb-4">
        <a class="mx-2 conditions-text" href=""> Terms of Conditions </a>
        |
        <a class="mx-2 conditions-text" href=""> Privacy Policy </a>
    </div>
</div>
