tr,
body {
    background-color: #dcdbdb;
}

button {
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid;
    margin-top: 5px;
    border-color: cadetblue;
    color: cadetblue;
}

.providerList {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.select {
    height: 50px;
    width: 325px;
    border-radius: 10px;
}

.accordion {
    display: none;
}

.accordion-button:not(.collapsed),
.accordion-button:focus {
    color: black;
    border: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

/* ----------media Queries------------ */

@media screen and (max-width:768px) {

    .accordion {
        display: block;
    }

    .table-responsive {
        display: none;
    }

    .topElements {
        flex-direction: column;
    }

    #createProviderButton,
    .select {
        width: 100%;
    }
}
