body {
    background-color: #dcdbdb;
}

button {
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid;
    margin-top: 5px;
    border-color: cadetblue;
    color: cadetblue;
}

.mapView {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

#map {
    height: 70vh;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.leaflet-right {
    display: none;
}

