<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-danger">
            Access Denied
        </h1>
        <span class="fw-bold mt-2">
            Sorry, You Are Not Allowed to Access This Page
        </span>
    </div>
</div>