@inject IHttpContextAccessor HttpContextAccessor

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Admin/_DashboardHeader.js"></script>
<link href="~/css/admin/_dashboardHeader.css" rel="stylesheet" />
<header>
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <button id="slidebar-button" class="bg-transparent " onclick="sidebar()">
                <i class="bi bi-list"></i>
            </button>
            <img id="logo-image" src="~/images/helloDocLogo.png" />
        </div>
        <div class="d-flex align-items-center">
            <span id="welcome-text">
                Welcome
                <b class="name">
                    @HttpContextAccessor.HttpContext.Session.GetString("firstName")
                    @HttpContextAccessor.HttpContext.Session.GetString("lastName")
                </b>
            </span>
            <a asp-controller="Admin" asp-action="Logout">
                <button id="log-out" class="bg-transparent ">
                    <span id="button-text">
                        Logout
                    </span>
                    <i id="button-icon" class="bi bi-box-arrow-right"> </i>
                </button>
            </a>
            <button id="them-icon" class="bg-transparent ">
                <i class="bi-moon"> </i>
            </button>
        </div>
    </div>
    <hr class="h5" />
    <div id="header-buttom" class="mx-2">
        <a asp-controller="Admin" asp-action="Dashboard"  class="mx-2">
            <div class="mx-2 h6">
                Dashboard
            </div>
        </a>
        <a asp-controller="Admin" asp-action="ProviderLocation" class="mx-2">
            <div class="mx-2 h6">
                Provider Location
            </div>
        </a>
        <a asp-controller="Admin" asp-action="ViewProfile"  class="mx-2">
            <div class="mx-2 h6">
                My Profile
            </div>
        </a>
        <div class="mx-2">
            <button class="h6 bg-transparent border-0 h-auto" data-bs-toggle="dropdown" aria-expanded="false">
                Providers
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Providers">
                        Providers
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="ProviderScheduling">
                        Scheduling
                    </a>
                </li>
                <li>
                    <a class="dropdown-item">
                        Invoiceing
                    </a>
                </li>
            </ul>
        </div>
        <a asp-controller="Admin" asp-action="Partners" class="mx-2">
            <div class="mx-2 h6">
                Partners
            </div>
        </a>
        <div class="mx-2">
            <button class="h6 bg-transparent border-0 h-auto" data-bs-toggle="dropdown" aria-expanded="false">
                Access
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Access">
                        Access
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="CreateAdmin">
                        Create Admin
                    </a>
                </li>
            </ul>
        </div>
        <div class="mx-2">
            <button class="h6 bg-transparent border-0 h-auto" data-bs-toggle="dropdown" aria-expanded="false">
                Records
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Records">
                        Records
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="EmailLogs">
                        Email Logs
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="SmsLogs">
                        SMS Logs
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="PatientHistory">
                        Patient History
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="BlockHistory">
                        Block History
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div id="side-bar" class="w-100">
    <a asp-controller="Admin" asp-action="Dashboard" class="d-flex justify-content-center border m-2 rounded-start">
        <div class="mt-1 h6">
            Dashboard
        </div>
    </a>
    <a asp-controller="Admin" asp-action="ProviderLocation" class="d-flex justify-content-center border m-2 rounded-start">
        <div class="mt-1 h6">
            Provider Location
        </div>
    </a>
    <a asp-controller="Admin" asp-action="ViewProfile" class="d-flex justify-content-center border m-2 rounded-start">
        <div class="mt-1 h6 ">
            My Profile
        </div>
    </a>
    <div class="mt-1 h6 d-flex justify-content-center border m-2 rounded-start">
        <button class="h6 bg-transparent border-0 h-auto" data-bs-toggle="dropdown" aria-expanded="false">
            Providers
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="Providers">
                    Providers
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="ProviderScheduling">
                    Scheduling
                </a>
            </li>
            <li>
                <a class="dropdown-item">
                    Invoiceing
                </a>
            </li>
        </ul>
    </div>
    <a asp-controller="Admin" asp-action="Partners" class="d-flex justify-content-center border m-2 rounded-start">
        <div class="mt-1 h6">
            Partners
        </div>
    </a>
    <div class="mt-1 h6 d-flex justify-content-center border m-2 rounded-start">
        <button class="h6 bg-transparent border-0 h-auto" data-bs-toggle="dropdown" aria-expanded="false">
            Access
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="Access">
                    Access
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="CreateAdmin">
                    Create Admin
                </a>
            </li>
         </ul>
    </div>
    <div class="mt-1 h6 d-flex justify-content-center border m-2 rounded-start mb-4">
        <button class="h6 bg-transparent border-0 h-auto" data-bs-toggle="dropdown" aria-expanded="false">
            Providers
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="Records">
                    Records
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="EmailLogs">
                    EmailLogs
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="SmsLogs">
                    SMS Logs
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="PatientHistory">
                    Patient History
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Admin" asp-action="BlockHistory">
                    Block History
                </a>
            </li>
        </ul>
    </div>
</div>

