@model Services.ViewModels.Admin.CreateShift

<link href="~/css/admin/_requestPopUp.css" rel="stylesheet" />
<div class="modal" tabindex="-1" id="createShift">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Shift</h5>
                <button type="button" class="border-0 bg-transparent" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle-fill h3 modal-title"></i>
                </button>
            </div>
            <form asp-controller="Admin" asp-action="CreateShift" id="createShiftForm">
                <div class="modal-body">
                    <select asp-for="SelectedRegion" class="p-2 w-100" id="regionCreateShift">
                        <option slected value="">Select Region</option>
                        @foreach (var item in Model.Regions)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                    <span asp-validation-for="SelectedRegion" class="text-danger mb-3"></span>
                    <select asp-for="SelectedPhysician" class="p-2 w-100 mt-2" id="physician">
                        <option slected value="">Select Physician</option>
                    </select>
                    <span asp-validation-for="SelectedPhysician" class="text-danger mb-3"></span>
                    <div class="row">
                        <div class="form-floating">
                            <input asp-for="ShiftDate" class="form-control" id="shiftDate" type="date" placeholder="ShiftDate" min="@Model.MinDate" />
                            <label id="date-picker" for="shiftDate">Shift Date</label>
                            <span asp-validation-for="ShiftDate" class="text-danger mb-3"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating col-6">
                            <input asp-for="StartTime" class="form-control" id="startTime" type="time" placeholder="StartTime" />
                            <label id="date-picker" for="startTime">Start Time</label>
                            <span asp-validation-for="StartTime" class="text-danger mb-3"></span>
                        </div>
                        <div class="form-floating col-6">
                            <input asp-for="EndTime" class="form-control" id="endTime" type="time" placeholder="EndTime"/>
                            <label id="date-picker" for="endTime">End Time</label>
                            <span class="text-danger mb-3" asp-validation-for="EndTime"></span>
                        </div>
                    </div>
                    <div class="form-check form-switch">
                        <label class="form-check-label fw-bold" for="isRepeat">Repeat</label>
                        <input asp-for="IsRepeat" class="form-check-input" type="checkbox" role="switch" id="isRepeat">
                    </div>
                    <fieldset disabled id="repeatFields">
                        <div class="mb-2 mt-1">
                            Repeat Days
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="SelectedDays" class="form-check-input weekDay" type="checkbox" value="0">
                            <label class="form-check-label" for="r-1">
                                Every Sunday
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="SelectedDays" class="form-check-input weekDay" type="checkbox" value="1">
                            <label class="form-check-label" for="r-1">
                                Every Monday
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="SelectedDays" class="form-check-input weekDay" type="checkbox" value="2">
                            <label class="form-check-label" for="r-1">
                                Every Thuesday
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="SelectedDays" class="form-check-input weekDay" type="checkbox" value="3">
                            <label class="form-check-label" for="r-1">
                                Every WednesDay
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="SelectedDays" class="form-check-input weekDay" type="checkbox" value="4">
                            <label class="form-check-label" for="r-1">
                                Every Thursday
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="SelectedDays" class="form-check-input weekDay" type="checkbox" value="5">
                            <label class="form-check-label" for="r-1">
                                Every Firday
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="SelectedDays" class="form-check-input weekDay" type="checkbox" value="6">
                            <label class="form-check-label" for="r-1">
                                Every Saturday
                            </label>
                        </div>
                        <div asp-validation-for="SelectedDays" class="text-danger" id="repeatValidation"></div>
                        <select asp-for="RepeatEnd" class="form-select" id="repeatEnd">
                            <option selected value="">Repeat End</option>
                            <option value="1">1 - Time</option>
                            <option value="2">2 - Time</option>
                            <option value="3">3 - Time</option>
                            <option value="4">4 - Time</option>
                            <option value="5">5 - Time</option>
                        </select>
                    </fieldset>
                    <span asp-validation-for="RepeatEnd" class="text-danger" id="repeatEndValidation"></span>
                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" class="btn mx-2" id="conformButton">
                            Save
                        </button>
                        <button type="reset" class="btn" data-bs-dismiss="modal" id="closeButton">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
