<div class="d-flex justify-content-center h5 mt-4">
    No Request Found
</div>
<div class="d-flex justify-content-between">
    Showing 0 to 0 of 0
    <div class="d-flex">
        <button class="border-0 rounded-0 fs-4 mx-2 bg-transparent" disabled>
            «
        </button>
        <button class="border-0 rounded-0 fs-4 mx-2 bg-transparent" disabled>
            ‹
        </button>
        <button class="border-1 rounded-0 mx-2 px-3 currentPage" disabled>
            0
        </button>
        <button class="border-0 rounded-0 fs-4 mx-2 bg-transparent" disabled>
            ›
        </button>
        <button class="border-0 rounded-0 fs-4 mx-2 bg-transparent" disabled>
            »
        </button>
    </div>
</div>
