@inject IHttpContextAccessor HttpContextAccessor

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Admin/_DashboardHeader.js"></script>
<link href="~/css/admin/_dashboardHeader.css" rel="stylesheet" />
<header>
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <button id="slidebar-button" class="bg-transparent " onclick="sidebar()">
                <i class="bi bi-list"></i>
            </button>
            <img id="logo-image" src="~/images/helloDocLogo.png" />
        </div>
        <div class="d-flex align-items-center">
            <span id="welcome-text">
                Welcome
                <b class="name">
                    @HttpContextAccessor.HttpContext.Session.GetString("firstName")
                    @HttpContextAccessor.HttpContext.Session.GetString("lastName")
                </b>
            </span>
            <a asp-controller="Admin" asp-action="Logout">
                <button id="log-out" class="bg-transparent ">
                    <span id="button-text">
                        Logout
                    </span>
                    <i id="button-icon" class="bi bi-box-arrow-right"> </i>
                </button>
            </a>
            <button id="them-icon" class="bg-transparent ">
                <i class="bi-moon"> </i>
            </button>
        </div>
    </div>
    <hr class="h5" />
    <div id="header-buttom" class="mx-2">
        <a asp-controller="Physician" asp-action="Dashboard" class="mx-2">
            <div class="mx-2 h6">
                Dashboard
            </div>
        </a>
        <a asp-controller="Physician" asp-action="Scheduling" class="mx-2">
            <div class="mx-2 h6">
                My Schedule
            </div>
        </a>
        <a asp-controller="Physician" asp-action="ViewProfile" class="mx-2">
            <div class="mx-2 h6">
                My Profile
            </div>
        </a>
    </div>
</header>
<div id="side-bar" class="w-100">
    <a asp-controller="Physician" asp-action="Dashboard" class="d-flex justify-content-center border m-2 rounded-start">
        <div class="mt-1 h6">
            Dashboard
        </div>
    </a>
    <a class="d-flex justify-content-center border m-2 rounded-start" asp-controller="Physician" asp-action="Scheduling">
        <div class="mt-1 h6">
            My Schedule
        </div>
    </a>
    <a class="d-flex justify-content-center border m-2 rounded-start" asp-controller="Physician" asp-action="ViewProfile">
        <div class="mt-1 h6 ">
            My Profile
        </div>
    </a>
</div>

