<link href="~/css/patient/_requestHeader.css" rel="stylesheet" />
<header class="d-flex justify-content-between align-items-center">
    <a asp-controller="Patient" asp-action="PatientSite">
        <img id="logo-image" src="~/images/helloDocLogo.png" />
    </a>
    <div id="them-icon">
        <i class="bi-moon"> </i>
    </div>
</header>
