<footer class="d-flex justify-content-end px-4 bg-black opacity-50">
    <a class="mx-2 text_color"> Terms of Conditions </a>
    <div class="text_color">
        |
    </div>
    <a class="mx-2 text_color"> Privacy Policy </a>
    <link href="~/css/patient/_requestFooter.css" rel="stylesheet" />
</footer>
