<header class="d-flex justify-content-between align-items-center">
    <a asp-controller="Patient" asp-action="PatientSite">
        <img id="logo-image" src="~/images/helloDocLogo.png" />
    </a>
    <div id="them-icon">
        <i class="bi-moon"> </i>
    </div>
    <link href="~/css/patient/_requestHeader.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/patient/header.css" rel="stylesheet" />*@
</header>
