@model Services.ViewModels.Admin.CancelPopUp

<link href="~/css/admin/_requestPopUp.css" rel="stylesheet" />
<script src="~/js/Admin/requestPopUp.js"></script>
<div class="modal" tabindex="-1" id="cancelRequest">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Conform Cancellation</h5>
                <button type="button" class="border-0 bg-transparent" data-bs-dismiss="modal" >
                    <i class="bi bi-x-circle-fill h3 modal-title"></i>
                </button>
            </div>
            <form asp-controller="Admin" asp-action="CancelPopUp">
                <div class="modal-body">
                    <div class="h5">
                        Patient Name : <span class="patientName">  </span>
                    </div>
                    <input readonly class="d-none patientRequestId" asp-for="RequestId" type="text" />
                    <select class="p-2 w-100" asp-for="Reason">
                        <option disabled selected value="">Reasons For Cancellation</option>
                        @foreach (var item in Model.Reasons)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                    <span asp-validation-for="Reason" class="text-danger"></span>
                    <div class="form-floating mt-2 mb-3">
                        <textarea asp-for="AdminTransferNotes" class="form-control h-100 border-2 mt-3" placeholder="AdditionalNotes" id="Notes" rows="5">
                        </textarea>
                        <label for="Notes">Additional Notes</label>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn mx-2" id="conformButton">
                            Confirm
                        </button>
                        <button type="reset" class="btn" data-bs-dismiss="modal" id="closeButton">
                            Close
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>