<link href="~/css/admin/_requestPopUp.css" rel="stylesheet" />
<div class="modal" tabindex="-1" id="popup">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content align-items-center p-4">
            <img class="w-25" src="~/images/informtion-icon.png" />
            <h4>
                Information
            </h4>
            <span>
                When submitting a request, you must provide correct
            </span>
            <span>
                contact information for the patient or responsibly
            </span>
            <span>
                party. Failure to provide the correct email phone
            </span>
            <span> number will delay service or be declined.</span>
            <button type="button" class="btn" data-bs-dismiss="modal" id="conformButton">
                Ok
            </button>
        </div>
    </div>
</div>