@model Services.ViewModels.StudentData

<div class="modal" tabindex="-1" id="studentForm">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Student Form</h5>
                <button type="button" class="border-0 bg-transparent" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle-fill h3 modal-title"></i>
                </button>
            </div>
            <form asp-controller="Student" asp-action="Student">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 form-floating ">
                            <input asp-for="Firstname" class="form-control" id="firstName" placeholder="name" />
                            <label for="firstName">First Name</label>
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="col-6 form-floating ">
                            <input asp-for="Lastname" class="form-control" id="lastname" placeholder="name" />
                            <label for="lastname">Last Name</label>
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-floating ">
                            <input asp-for="Email" class="form-control" id="email" placeholder="name" />
                            <label for="email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-6 form-floating ">
                            <input asp-for="DateofBirth" class="form-control" id="date" placeholder="name" type="date" />
                            <label for="firstName">Birthdate</label>
                            <span asp-validation-for="DateofBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="rows mt-2">
                        <span>Gender :: </span>
                        <div class="form-check form-check-inline">
                            <input name="Gender" class="form-check-input" type="radio" id="flexRadioDefault1" value="1" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Male
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="Gender" class="form-check-input" type="radio" id="flexRadioDefault2" value="2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Female
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="Gender" class="form-check-input" type="radio" id="flexRadioDefault3" value="3">
                            <label class="form-check-label" for="flexRadioDefault3">
                                Other
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating col-6">
                            <select class="form-select" asp-for="Grade" id="grade">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                            <label for="firstName">Grade</label>
                        </div>
                        <div class="col-6 form-floating ">
                            <input asp-for="Course" class="form-control" id="course" placeholder="name" list="@Model.CourseList" />
                            <label for="course">Course</label>
                            <span asp-validation-for="Course" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-4 row">
                        <div class="col-6">
                            <button class="btn btn-primary w-100" type="reset" data-bs-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn col-6 btn-success w-100" type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

