@model Services.ViewModels.Admin.PayRate

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Physician Account";
    ViewBag.JsFile = "/js/Admin/provider.js";
    ViewBag.CssFile = "/css/Admin/createProvider.css";
    ViewBag.Header = "_AdminDashboardHeader";
}

<div class="container">
    <div class="d-flex justify-content-end align-items-center mt-2 mb-3">
        <a asp-controller="Admin" asp-action="Providers">
            <button class="bg-white px-3 fw-bold" onclick="setTab(4)">
                <i class="bi bi-chevron-left"> </i>
                Back
            </button>
        </a>
    </div>
    <div class="table-responsive payrate">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-4">
                        Category
                    </th>
                    <th class="col-4">
                        Pay-rate
                    </th>
                    <th class="col-4">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form asp-controller="Admin" asp-action="EditPayRate">
                        <td>
                            NightShift_Weekend
                        </td>
                        <td>
                            <fieldset disabled id="fieldset1">
                                <input asp-for="NightShiftWeekend" />
                                <input asp-for="Type" value="1" class="d-none" />
                                <span asp-validation-for="NightShiftWeekend" class="text-danger"></span>
                            </fieldset>
                        </td>
                        <td>
                            <button class="px-3 text-white fw-bold bottomButtons" type="button" id="editbutton1">
                                Edit
                            </button>
                            <div class="edit" id="edit1">
                                <button class="px-3 me-2 text-white fw-bold bottomButtons" type="submit" id="save1">
                                    Save Changes
                                </button>
                                <button class="px-3 bg-white cancleButton fw-bold" type="reset" onclick="" id="cancel1">
                                    Cancel
                                </button>
                            </div>
                        </td>
                    </form>
                </tr>
                <form asp-controller="Admin" asp-action="EditPayRate">
                <tr>
                    <td>
                        Shift
                    </td>
                    <td>
                        <fieldset disabled id="fieldset2">
                            <input asp-for="Shift" />
                            <input asp-for="Type" value="2" class="d-none" />
                            <span asp-validation-for="Shift" class="text-danger"></span>
                        </fieldset>
                    </td>
                    <td>
                        <button class="px-3 text-white fw-bold bottomButtons" type="button" id="editbutton2">
                            Edit
                        </button>
                        <div class="edit" id="edit2">
                            <button class="px-3 me-2 text-white fw-bold bottomButtons" type="submit">
                                Save Changes
                            </button>
                            <button class="px-3 bg-white cancleButton fw-bold" type="reset" id="cancel2">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
                </form>
                <form asp-controller="Admin" asp-action="EditPayRate">
                <tr>
                    <td>
                        Housecall_Night_Weekend
                    </td>
                    <td>
                        <fieldset disabled id="fieldset3">
                            <input asp-for="HouseCallNightWeekend" />
                            <input asp-for="Type" value="3" class="d-none" />
                            <span asp-validation-for="HouseCallNightWeekend" class="text-danger"></span>
                        </fieldset>
                    </td>
                    <td>
                        <button class="px-3 text-white fw-bold bottomButtons" type="button" id="editbutton3">
                            Edit
                        </button>
                        <div class="edit" id="edit3">
                            <button class="px-3 me-2 text-white fw-bold bottomButtons" type="submit">
                                Save Changes
                            </button>
                            <button class="px-3 bg-white cancleButton fw-bold" type="reset" id="cancel3">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
                </form>
                <form asp-controller="Admin" asp-action="EditPayRate">
                <tr>
                    <td>
                        PhoneConsult_Night_Weekend
                    </td>
                    <td>
                        <fieldset disabled id="fieldset4">
                            <input asp-for="PhoneConsultsNightWeekend" />
                            <input asp-for="Type" value="4" class="d-none" />
                            <span asp-validation-for="PhoneConsultsNightWeekend" class="text-danger"></span>
                        </fieldset>
                    </td>
                    <td>
                        <button class="px-3 text-white fw-bold bottomButtons" type="button" id="editbutton4">
                            Edit
                        </button>
                        <div class="edit" id="edit4">
                            <button class="px-3 me-2 text-white fw-bold bottomButtons" type="submit">
                                Save Changes
                            </button>
                            <button class="px-3 bg-white cancleButton fw-bold" type="reset" id="cancel4">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
                </form>
                <form asp-controller="Admin" asp-action="EditPayRate">
                <tr>
                    <td>
                        PhoneConsult
                    </td>
                    <td>
                        <fieldset disabled id="fieldset5">
                            <input asp-for="PhoneConsults" />
                            <input asp-for="Type" value="5" class="d-none" />
                            <span asp-validation-for="PhoneConsults" class="text-danger"></span>
                        </fieldset>
                    </td>
                    <td>
                        <button class="px-3 text-white fw-bold bottomButtons me-2" type="button" id="editbutton5">
                            Edit
                        </button>
                        <div class="edit" id="edit5">
                            <button class="px-3 me-2 text-white fw-bold bottomButtons" type="submit">
                                Save Changes
                            </button>
                            <button class="px-3 bg-white cancleButton fw-bold me-2" type="reset" id="cancel5">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
                </form>
                <form asp-controller="Admin" asp-action="EditPayRate">
                <tr>
                    <td>
                        BatchTesting
                    </td>
                    <td>
                        <fieldset disabled id="fieldset6">
                            <input asp-for="BatchTesting" />
                            <input asp-for="Type" value="6" class="d-none" />
                            <span asp-validation-for="BatchTesting" class="text-danger"></span>
                        </fieldset>
                    </td>
                    <td>
                        <button class="px-3 text-white fw-bold bottomButtons me-2" type="button" id="editbutton6">
                            Edit
                        </button>
                        <div class="edit" id="edit6">
                            <button class="px-3 me-2 text-white fw-bold bottomButtons" type="submit">
                                Save Changes
                            </button>
                            <button class="px-3 bg-white cancleButton fw-bold me-2" type="reset" id="cancel6">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
                </form>
                <form asp-controller="Admin" asp-action="EditPayRate">
                <tr>
                    <td>
                        HouseCall
                    </td>
                    <td>
                        <fieldset disabled id="fieldset7">
                            <input asp-for="HouseCall" />
                            <input asp-for="Type" value="7" class="d-none" />
                            <span asp-validation-for="HouseCall" class="text-danger"></span>
                        </fieldset>
                    </td>
                    <td>
                        <button class="px-3 text-white fw-bold bottomButtons me-2" type="button" id="editbutton7">
                            Edit
                        </button>
                        <div class="edit" id="edit7">
                            <button class="px-3 me-2 text-white fw-bold bottomButtons" type="submit">
                                Save Changes
                            </button>
                            <button class="px-3 bg-white cancleButton fw-bold me-2" type="reset" id="cancel7">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
                </form>
            </tbody>
        </table>
    </div>
</div>